{% extends 'base.html.twig' %}

{% block title %}Présentation de l'entreprise{% endblock %}

{% block body %}
    <h1>{{ company.name }} – Présentation</h1>
    <p>{{ company.presentation }}</p>
{% endblock %}
