{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
    <h1>Espace administrateur</h1>    
    <nav aria-label="Menu secondaire">
        <ul>
            <li>
                <a href="{{ path('admin_profil_index') }}">Profil de l'entreprise</a>
            </li>
        </ul>
    </nav>
{% endblock %}
