{% extends 'base_admin.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
    <h1>Espace administrateur</h1>    
    <p>Bienvenue {{ app.user.username }} !</p>
{% endblock %}
