<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <nav aria-label="Menu principal">
            <ul>
                <li>
                    <a href="{{ path('home_index') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('home_presentation') }}">Présentation de l'entreprise</a>
                </li>
                <li>
                    <a href="{{ path('home_admin') }}">Admin</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
